<div class="engrave-field birthstone-contract" data-birthstone-ring>
  <label for="birthstone-name-1">Name 1:</label>
  <input id="birthstone-name-1" type="text"
         name="properties[Name 1]"
         maxlength="{{ engraving_max }}"
         required autocomplete="off">

  <label for="birthstone-name-2">Name 2:</label>
  <input id="birthstone-name-2" type="text"
         name="properties[Name 2]"
         maxlength="{{ engraving_max }}"
         required autocomplete="off">
</div>
